{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": 4
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/proposal-export-default-from",
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/proposal-throw-expressions",
    "@babel/syntax-dynamic-import"
  ],
  "sourceMaps": "inline"
}