{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": ["jest"],
  "rules": {
    "consistent-return": 0,
    "no-param-reassign": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, {
      "ignore": ["electron"]
      }],
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 1,
    "prefer-destructuring": 1,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    "react/jsx-no-bind": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-no-target-blank": 0,
    "no-restricted-syntax": [0, "ForInStatement"],
    "jsx-a11y/no-noninteractive-element-interactions": 1,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "Label"
        ],
        "required": {
          "every": [
            "id"
          ]
        },
        "allowChildren": false
      }
    ],
    "jsx-a11y/click-events-have-key-events": 1
  },
  "globals": {
    "window": true,
    "document": true,
    "ENV": true,
    "FormData": true,
    "localStorage": true,
    "navigator": true,
    "Worker": true,
    "atob": true,
    "btoa": true,
    "ga": true,
    "mocha": true
  },
  "env": {
    "jest/globals": true
  }
}
