matrix:
  include:
  - os: linux
    dist: xenial
    addons:
      apt:
        packages:
        - libx11-dev
        - libxext-dev
        - libxss-dev
        - libxkbfile-dev
  - os: osx
    osx_image: xcode11

language: node_js

install:
- echo do nothing

before_script:
- npx lerna bootstrap
- npm install node-sass -g

script:
- npm run test
- travis_wait 45 npm run build

cache: npm

notifications:
  email: false
  slack:
    secure: GMiD9uhGUNkJbasOMvfUmQx/SKG8wd/MC4IPtiZZnlLkiN6eJQnV3p9OeMaiSCcq19gQ65z898h55PXwFX5pFqmGMQF0zdA3VXlVh7wrUU/Z8cYxCBaZTIOgNwtrteT9V9easV/5BuUGLHVgAFYEhS5tJDu2GU4UKdm6mko4YyxKHdsCsvkRpv+zpFF1a+G2ZUwWHDhTZsBJbx7SW7xzPKYI+vq+bNnbyC6p0kpeTehf29A8CoIgQlDctzk4aOHkj35WHIiKS5yzr/nb8oY/B6vCdfFHCrCkZxQrxPEagyYTfEusWwQRJ4rvwt8dgBO1A3ckO+AC1MEAYRYHgQMI5K86tcQ7/su5iOhu9NDbZ/BfriaTDlrurKMWPhZ/RVnFUT4tn7XVVcMxz6/FYFDYIDSHEn5E20a7qV1ixF7XKoJU6eOfo3qZ7euxiZIbDbHBH+Y2ZmzUGfrQ7DFlefMEM/6Laa0jNGOSvfc6mvk1x63bVTT5KfYEX4ztXnBY77haG4/h5bIHyNDzLsZ5vxXbvmHZb6ToMVn9UT6HS0sZQ/B4bghJbdZuOrPFlz8UNRpwoBS4HpLUndhYCo0ppxd3yCd5gqEhIJzEiJNoMq+LA9/iheLbWlJVdjP2WRQ2/m9VCSxnivTdNhnp6lSATiXAgq2WN2LGhTSGtXgqtcYGXhk=

deploy:
  provider: s3
  access_key_id: AKIAIVRBS4YFL4ZBLCLA
  secret_access_key:
    secure: LZ38b5DmVisSBfpuPN8IVNCe3C+hJYX88jV+/ifzlB6/h1VUU/w5B3xHNBoOC2P53D2htMtL7K1/JLxzKGmUsnOJe5boF0QmBPTXUVosurxwMPEuLotQucgqcOoFnJkq+BUziBy+uWsZnk6ECbI5hFHQJAM9iNjOcgrfK08NLYvtdwYKYXwhwSrN4dxBKkfRINgAqHCp6bMuH2Imgy9iM+Iy5ydMPUsKDRHj1ByJrhcb1nJTjWImH08IU970fEl0P2+bCV6nUTzc9x9mwaJAF6uaH9L44lLptHIhGgqAZGzwQ7z6ANJj3CJRWFbqW2/9/0+4YKhyBbE9TPIvWIXmVeoPm0nWLDfVDN2RwTGtv+oSgPS+UhcFTVanekKfrzMTVdi1jQ8LIL7Ur3DcXNhwTPuc7PjLPPuwTS2AQRkPMyyWLRAz40/YUepASRdqoVMYI+CZiwu2AZIoUr1HO1eXj/0rqC8t/mhUSOXTxNGRCP9SQTJ/FSaI5dZh3oY7bkz7uxDNbPvChcs7hPFqqhPUFIkX36DaDqjze6IqtZ6pDz7XTqzUET/Jgny9vGBypvGj5fJpYZJytqEs0SsPGQGaxSmAWjcPWQX56Tr98iwVvzAJ0hl7lJHVaEzuxoYmD0ijg2zysoZ7GPBXJg2n9W+QaS0KVuda1r+sQ6C2wY8yvi8=
  bucket: franz-travis
  region: eu-central-1
  local_dir: out
  upload-dir: "$TRAVIS_BUILD_NUMBER"
  skip_cleanup: true
  acl: public_read
  on:
    all_branches: true

env:
  global:
  - secure: fddJzSmNYVX024jnhnFXEuAK1spEYi3y3RZdWaBtjQnzoObAxkcRW263JNpXQy+b7egnp2hSy8FvlQU+L967911F5Y70Pe3An4oI72hnS3DL4Njp2Dw5PwviwMA+X2ddWhzK4+k/JU6r8jBv1FGQ6ZjwSeaO/t8UKOsE8wDBFLRhnHqoR7QbM7zmKjzh/1oofunGbHsPOHmN4f7jBwSuSFTZltEENcQg3ZP++0NHU8UJdlpfqZOkro8v4AJMngAHeHlNtjwaAHdVv+6+kkwc4E/0Cy6YNyyBkbzipyngNY3GwnwzmNzvsfICD1TGklksjBlMQq7ld7eCiaYRNvyHVEmXJ17qlq7HhxkYgNy32hPRwb5Cv6o4M4tv8qS8UUk4W1RvBJ5fcmfZGQwGXPyQ/m85RJtrNfbYtr84jYcprTnSeji/9PuZv0f87dxELYm3DYmNUa1cgJqEdLUsEd0bMwUYNLnCSfu4ea2zxwir6LSBtJJCbGKxX87s5IOTrHkrWDe+PWd52v+UjQks7MBRlJnntTWo69Yy+ayXV1TnGVOHA5znHvPOvFlAF+y8tLGd4AGvehK1SAkf0+idmc9Q9xKk0QypT3ibjJui4D50p7sSajkzz3P2pUqOS/9HmjMfPMPN+Nl+48GU0CvB2aBGhdmp9vu54VaFzUaAGNGj4WI=
  - secure: AjJvKhQ1jIloxogMdtOzJqovPQUBSA0lfHcRsmGdP8HIRKSRi9tKxCCgicTMpMWfvY7qtdexXBbl2/zl6cOhjfTYeAhNwwCg+dw7OVcE8LUn4E+gYZCYIKbNmmkVKsSckQd4h2IcyvqdqLwzjrEzdF95MoUI8WqdLwvQJLkoIaXju6ZT76FslGSUVXk58ZN7p2nr3kW8V7KclIzn/yyyYXE4bjBmS4djuvCReeSfSViCuX5CGT8avBb/IF/M5S7hcQVybmmalysOrranzSx0o9PPUIT9hHqqRpXW6iss2qVj+kCaFiC3ftlApVgizBoGcNAMA8N7hX8kkEjJSpiy7Vswuev9mVN9X94VwVZGyNvdYD8cKKxqTsfFDZDgefnuSYUhymKSBgM4yScYF6IPNJWFWJTugtVeMJ8ivqZhwJuD20nt6x7gGB1FS6m7axxRWeyp7h0FqWU9l6ZfmwHcRziVKNTk9BB4XIqco9M2wjV/YH321IGVwtVR5y6zty10+xk38TthCOidgBurFlMKbFKH5g9K5+84dhsCW0avMlJ0+QkgId0uAVyho+09Wx4cKqXLfobpznkUX+S0Um6G/NbAaUAU+SqBsm+X9CKFsPd/YJoxLdF7eBCG/3Fy4roKg3J4mBYeXe3wVnGft8Eeg0aNpOArMSStMY337UpdV80=
  - secure: WNQBUyNvjTwMFm6pPzNXZYRvgLCTgEm93vLX/0amtr6gT6N8ZsTLL5+Ht3+v51MUOsjEe6tCM4cLSh4wSuwWcSEsUjK0jiqknlpgKKl6xLeo+1t8u6BKSgTpipWqrSD24TbvMrFUyeQrqCGRdZc3Ax/F1ERD81SXcsrg2evCL8g8zsYjxSMXc44drKrvYi68s/5ALrI+oH3t2PYsGuuP1ipj5CbaizUHEa5d8TukHRl96lxoEKCQ4Sa8UXRPNQsdb3TdkVmIEPIoioWU6AMPweBWR6Ky994aKwp0wWn1adWP49v8skMYWbirENniSxShtztF/NYqPQFyoyh0WD/C/ZJPh04HlMxnmQPUROq+LxBFz8WBY1eHDmz6GxH1lDYzneTtlRa5K8izvs2+ROhpVmmKeOgWHaL1ZRMy8Cn3V88kadF7i1K9NnqB6ZPyynJJctj7o0af6Os9/ZPqWfqIOWWeXgfXVzj17xJADfh6Z9epW95hdKZjnIf9IqGAI8aYTqhVL8DKTJ+PSGhJIOEX+ERm+0U9gMlwllwjHCDhBe42zCGuLaWZ239yD1eacM0Ko7yUM+xobiiF0FlB8VI/nBOpGdeUKNLeUfikLHILWd04AVRCNaQU67GMOHekfWdGR8tEh9I/5Y6GJR0IQL5eGmDUjSN0u/Ovss4jSEBOaXo=
  - secure: JwFFiLcVwnLdYPX0WVrYgVQbsewQf+mt90pXGPXcdVABlYSuDKDURHLgIkPj9El8GIEuA4HvCqPeLdrhfAU4bLJduYZIlRVyCypygMtW68odAuSWp4VLNntrbpL9SYv4Ou/1OphjAc1bw7OBdLelehutowqe6sEoByY45ZKFucE61nS3oCraMXBcWvopz0EegC1zS/sI7qG9EyIoHDNgC7QQEaQzJLwyMgE7Eic9DXhGY47/s3HxXJwYCY/2OhOXd28itHWwAgyEwaKgz5j2Boz1eXPln11gVH4yZPkrFWscuiXqd8XYfLGwXkXG7v4n1PKAoGg4MiSlLmh4VpfQHNz2BSUkeM4dkjzj0I9Hie2oYeWtuXz7R/zjXbQOIt63215wTe3PDjEslIDhIe71obFCiKrtv7HnlWFFzYxOAT7Npj3QIYj0TaAP7tZYMOSK/zNyKuotiZDUXE4tLreK2jI4qDafihRM0AhDU77mWjb+Jdn5N/665KGRPMX1jdC2cH7wjiHsipV9VPqbCTC4h7jfa2e0T/lUGZrTsevXrJ0MOxeNXsVuGCYUnYyHqgL0VPGjI0YyoK2PTX4cKu8jfvFaOC0ZrCzo7tfkHWxzQACHLUA99A/DsI/TdIacnBJhIAAkUbKyY2P1nSI2CQDDl9qJ0cdPQBXp9cg/xaSACeo=
  - secure: LKO9AIlimxVvj8yvyOX8mgxIyINbmyQReuPUV8yd/nQz5BLhPKhYmigAWEXjpb+KiGmJD0rHsgn/MpJtfLj5xlwxGxXm79vd2YIlu4w656/nlr0tyuCx/T4MLL6qs1TIVegS6vyRH7EBdPWfzmdGcmtHjoxwh1cN+aPEPaYlUT4V2VvBl+Hf+WwAqSe/rtRmjf1prWAgRAUL+e9vydWd7cR5FFhll6/gG/45TVdLzNbmZ5o8NRqEgH5sQG9RJ5WJEO+CbRY20vuBkloBhHQjmRScA9dEiF1UZfDeSXz358hjX105+u8enR2K5sQEANEVgukX+c9Jic+9r/mslujQ7Fl0TVoFJrT+fBsiaCyU6wNKWgVnknZhE8BaWe/H+6UJ88SFUzSxH6IDh9KhORW35qwBAGkjk0hJHAOQ+kjVENXR0oyQfQTt/+M2m/CaZBnZYXIHMsNrZiB5OqI9zeBE0icfcqdWE5NQ+2QvCqQzAdDRm7BgdO2GlorfdZdy8WP/zpKI/QWh9UwbVRiqg9Kx8Sf4yGm8i7sVTN4RGY0aZ5MP0ZokYd7kSGW18lpI1hkqomHNSmgIR6nZXzDeEOS0A/dgLaWii5EmxcneYXRX/nzP4pViTEjJEp0w75SI0RFt37wCYexZrZj7HJDSR6kf417DGJv9ugmZ7lQ5QOSDZJI=

branches:
  except:
  - i18n
