// FadeIn
.fadeIn-appear { opacity: .01; }

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity .5s ease-out;
}

.fadeIn-enter {
  opacity: .01;
  transition: opacity .5s ease-out;
}

.fadeIn-leave { opacity: 1; }

.fadeIn-leave.fadeIn-leave-active {
  opacity: .01;
  transition: opacity 300ms ease-in;
}

// FadeIn Fast
.fadeIn-fast-appear { opacity: .01; }

.fadeIn-fast-appear.fadeIn-fast-appear-active {
  opacity: 1;
  transition: opacity .25s ease-out;
}

.fadeIn-fast-enter {
  opacity: .01;
  transition: opacity .25s ease-out;
}

.fadeIn-fast-leave { opacity: 1; }

.fadeIn-fast-leave.fadeIn-fast-leave-active {
  opacity: .01;
  transition: opacity .25s ease-in;
}

// Slide down
.slideDown-appear {
  max-height: 0;
  overflow-y: hidden;
}

.slideDown-appear.slideDown-appear-active {
  max-height: 500px;
  transition: max-height .5s ease-out;
}

.slideDown-enter {
  max-height: 0;
  transition: max-height .5s ease-out;
}

// Slide up
.slideUp-appear {
  opacity: 0;
  transform: translateY(20px);
}

.slideUp-appear.slideUp-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all .3s ease-out;
}

.slideUp-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: all .3s ease-out;
}

.slideUp-leave { opacity: 1; }

.slideUp-leave.slideUp-leave-active {
  opacity: .01;
  transition: opacity 300ms ease-in;
}
