@import './config.scss';

.theme__dark .auth {
  background: $dark-theme-gray-darkest;

  .auth__container {
    background: $dark-theme-gray-darker;
    box-shadow: 0 0 50px rgba($dark-theme-black, .2);
  }

  .auth__logo.auth__logo--sm {
    border: none;
    box-shadow: 0 0 6px rgba($dark-theme-black, .5);
  }

  .auth__links {
    background: $dark-theme-gray-dark;

    a { color: $dark-theme-text-color; }
  }

  .legal {
    color: $dark-theme-text-color;

    a { color: $dark-theme-gray-lightest; }
  }
}

.auth {
  background: $theme-brand-primary;
  display: flex;
  justify-content: center;

  .auth__layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth__container {
    background: #FFF;
    border-radius: $theme-border-radius;
    box-shadow: 0 0 50px rgba(black, .2);
    height: auto;
    margin: 40px auto 0;
    position: relative;
    width: 350px;

    &.auth__container--signup { width: 450px; }
  }

  .auth__logo {
    border-radius: $theme-border-radius;
    display: block;
    height: auto;
    margin: -105px auto 20px auto;
    width: 150px;

    &.auth__logo--sm {
      border: 4px solid #FFF;
      border-radius: 100%;
      box-shadow: 0 0 6px rgba(black, .5);
    }
  }

  .auth__form {
    padding: 20px;

    h1 { text-align: center; }
  }

  .auth__button {
    width: 100%;

    &.auth__button--skip { margin: 10px auto 0; }
  }

  .auth__links {
    background: $theme-gray-lighter;
    border-bottom-left-radius: $theme-border-radius;
    border-bottom-right-radius: $theme-border-radius;
    padding: 20px;

    a {
      display: block;
      color: $theme-gray;
      margin-bottom: 8px;
      text-align: center;

      &:last-of-type { margin-bottom: 0; }
    }
  }

  .auth__adlk {
    bottom: 15px;
    position: absolute;
    right: 25px;

    img { width: 65px; }
  }

  .auth__letter { margin-bottom: 30px; }
  .scroll-container { z-index: 10; }
  .info-bar { position: absolute; }

  &__scroll-container {
    max-height: 100vh;
    padding: 80px 0;
    overflow: auto;
    width: 100%;
  }

  .available-services { margin-bottom: 15px; }

  .unavailable-services {
    margin: 15px 0;

    p { text-transform: capitalize; }
  }

  .legal {
    color: $theme-gray-light;
    margin-top: 20px;
    text-align: center;
  }
}
