$theme-brand-primary: #3498db;
$theme-brand-success: #5cb85c;
$theme-brand-info: #5bc0de;
$theme-brand-warning: #FF9F00;
$theme-brand-danger: #d9534f;

$theme-gray-dark: #373a3c;
$theme-gray: #55595c;
$theme-gray-light: #818a91;
$theme-gray-lighter: #eceeef;
$theme-gray-lightest: #f7f7f9;

$theme-border-radius: 6px;
$theme-border-radius-small: 3px;

$theme-sidebar-width: 68px;

$theme-text-color: $theme-gray-dark;

$theme-transition-time: 0.5s;

$theme-inset-shadow: inset 0 2px 5px rgba(0,0,0,0.03);
