@import "./type-helper";

$theme-brand-primary:        convert-rgb-string-to-color($raw-theme-brand-primary);
$theme-brand-success:        convert-rgb-string-to-color($raw-theme-brand-success);
$theme-brand-info:           convert-rgb-string-to-color($raw-theme-brand-info);
$theme-brand-warning:        convert-rgb-string-to-color($raw-theme-brand-warning);
$theme-brand-danger:         convert-rgb-string-to-color($raw-theme-brand-danger);

$theme-gray-dark:            convert-rgb-string-to-color($raw-theme-gray-dark);
$theme-gray:                 convert-rgb-string-to-color($raw-theme-gray);
$theme-gray-light:           convert-rgb-string-to-color($raw-theme-gray-light);
$theme-gray-lighter:         convert-rgb-string-to-color($raw-theme-gray-lighter);
$theme-gray-lightest:        convert-rgb-string-to-color($raw-theme-gray-lightest);

$theme-border-radius:        to-number($raw-theme-border-radius);
$theme-border-radius-small:  to-number($raw-theme-border-radius-small);

$theme-sidebar-width:        to-number($raw-theme-sidebar-width);

$theme-text-color:           convert-rgb-string-to-color($raw-theme-gray-dark);

$theme-transition-time:      .5s;

$theme-inset-shadow:         inset 0 2px 5px rgba(0, 0, 0, .03);

// Dark Theme
$dark-theme-black:           convert-rgb-string-to-color($raw-dark-theme-black);

$dark-theme-gray-darkest:    convert-rgb-string-to-color($raw-dark-theme-gray-darkest);
$dark-theme-gray-darker:     convert-rgb-string-to-color($raw-dark-theme-gray-darker);
$dark-theme-gray-dark:       convert-rgb-string-to-color($raw-dark-theme-gray-dark);

$dark-theme-gray:            convert-rgb-string-to-color($raw-dark-theme-gray);

$dark-theme-gray-light:      convert-rgb-string-to-color($raw-dark-theme-gray-light);
$dark-theme-gray-lighter:    convert-rgb-string-to-color($raw-dark-theme-gray-lighter);
$dark-theme-gray-lightest:   convert-rgb-string-to-color($raw-dark-theme-gray-lightest);

$dark-theme-gray-smoke:      convert-rgb-string-to-color($raw-dark-theme-gray-smoke);
$dark-theme-text-color:      convert-rgb-string-to-color($raw-dark-theme-text-color);
