@import './config.scss';

.info-bar {
  align-items: center;
  background: $theme-brand-primary;
  box-shadow: 0 0 8px rgba(black, .2);
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0 20px;
  position: relative;
  width: 100%;
  z-index: 100;

  .info-bar__content {
    height: auto;

    .mdi { margin-right: 5px; }
  }

  .info-bar__close {
    color: #FFF;
    position: absolute;
    right: 10px;
  }

  .info-bar__cta {
    border-color: #FFF;
    border-radius: $theme-border-radius-small;
    border-style: solid;
    border-width: 2px;
    color: #FFF;
    margin-left: 15px;
    padding: 3px 8px;

    .loader {
      display: inline-block;
      height: 12px;
      margin-right: 5px;
      position: relative;
      width: 20px;
      z-index: 9999;
    }
  }

  .info-bar__inline-button {
    color: white;
  }

  &.info-bar--bottom { order: 10; }

  &.info-bar--primary {
    background: $theme-brand-primary;
    color: #FFF;

    a { color: #FFF; }
  }

  &.info-bar--warning {
    background: $theme-brand-warning;
    color: #FFF;

    a { color: #FFF; }
  }

  &.info-bar--danger {
    background: $theme-brand-danger;
    color: #FFF;

    a { color: #FFF; }
  }
}
