@import './config.scss';

.infobox {
  align-items: center;
  border-radius: $theme-border-radius-small;
  display: flex;
  height: auto;
  margin-bottom: 30px;
  padding: 15px 20px;

  a { color: #FFF; }

  .infobox__content { flex: 1; }

  &.infobox--success {
    background: $theme-brand-success;
    color: #FFF;
  }

  &.infobox--primary {
    background: $theme-brand-primary;
    color: #FFF;
  }

  &.infobox--danger {
    background: $theme-brand-danger;
    color: #FFF;
  }

  &.infobox--warning {
    background: $theme-brand-warning;
    color: #FFF;
  }

  .mdi { margin-right: 10px; }

  .infobox__cta {
    border-color: #FFF;
    border-radius: $theme-border-radius-small;
    border-style: solid;
    border-width: 2px;
    color: #FFF;
    margin-left: 15px;
    padding: 3px 8px;

    .loader {
      display: inline-block;
      height: 12px;
      margin-right: 5px;
      position: relative;
      width: 20px;
      z-index: 9999;
    }
  }

  .infobox__delete {
    color: #FFF;
    margin-right: 0;
  }
}
