@import './config.scss';

.theme__dark .recipe-teaser {
  background-color: $dark-theme-gray-dark;

  &:hover { background-color: $dark-theme-gray; }
}

.recipes {
  .recipes__list {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    min-height: 70%;

    &.recipes__list--disabled {
      filter: grayscale(100%);
      opacity: .3;
      pointer-events: none;
    }
  }

  .recipes__navigation {
    height: auto;
    margin-bottom: 35px;

    .badge { margin-right: 10px; }

    &.recipes__navigation--disabled {
      filter: grayscale(100%);
      opacity: .3;
      pointer-events: none;
    }
  }

  &__service-request { float: right; }
}

.recipe-teaser {
  background-color: $theme-gray-lightest;
  border-radius: $theme-border-radius;
  height: 120px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  position: relative;
  transition: background $theme-transition-time;
  width: calc(25% - 20px);

  &:hover { background-color: $theme-gray-lighter; }

  .recipe-teaser__icon {
    margin-bottom: 10px;
    width: 50px;
  }

  .recipe-teaser__label { display: block; }

  h2 { z-index: 10; }

  &__dev-badge {
    background: $theme-brand-warning;
    box-shadow: 0 0 4px rgba(black, .2);
    color: #FFF;
    font-size: 10px;
    position: absolute;
    right: -13px;
    top: 5px;
    transform: rotateZ(45deg);
    width: 50px;
  }
}
