.search-input {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 30px;
  background: $theme-gray-lightest;
  padding: 5px 10px;
  @extend %headline;
  color: $theme-gray-light;

  input {
    padding-left: 10px;
    background: none;
    border: 0;
    flex: 1;
    color: $theme-gray-light;
  }
}
