@import './config.scss';

.services__group {
  border: 1px solid grey;

  .services__group-header {
    font-weight: bold;
  }
}

.service-group--form form {
  display: flex;
}

.service-table {
  width: 100%;

  .service-table__toggle {
    width: 60px;

    .franz-form__field {
      margin-bottom: 0;
    }
  }

  .service-table__icon {
    width: 35px;

    &.has-custom-icon {
      border-radius: $theme-border-radius;
      border: 1px solid $theme-gray-lighter;
      width: 37px;
    }
  }

  .service-table__column-icon {
    width: 40px;
  }

  .service-table__column-action {
    width: 40px
  }

  .service-table__column-info {
    width: 40px;

    .mdi {
      display: block;
      font-size: 18px;
      color: $theme-gray-light;
    }
  }

  .service-table__drag-handle {
    width: 10px;
  }

  .service-table__row {
    border-bottom: 1px solid $theme-gray-lightest;

    &:hover {
      background: $theme-gray-lightest;
    }

    &.service-table__row--disabled {
      color: $theme-gray-light;

      .service-table__column-icon {
        filter: grayscale(100%);
        opacity: 0.5;
      }
    }
  }

  td {
    padding: 10px;
  }
}
