@import './config.scss';

.status-bar-target-url {
  // width: 100%;
  height: auto;
  background: $theme-gray-lighter;
  padding: 2px 20px 2px 10px;
  position: absolute;
  // z-index: 100;
  box-shadow: 0 0 8px rgba(black, 0.2);

  color: $theme-gray-dark;

  .status-bar-target-url__content {
    height: auto;

    .mdi {
      margin-right: 5px;
    }
  }

  &.status-bar-target-url--bottom {
    order: 10;
    bottom: 0;
    border-top-right-radius: 5px;
  }

  &.status-bar-target-url--top {
    order: 10;
    top: 0;
    border-bottom-right-radius: 5px;
  }
}
