.subscription {
  .subscription__premium-features {
    margin: 10px 0;

    li {
      align-items: center;
      display: flex;
      height: 30px;

      &:before {
        content: "👍";
        margin-right: 10px;
      }

      .badge { margin-left: 10px; }
    }
  }

  .subscription__premium-info { margin: 15px 0 25px; }
}

.paymentTiers .franz-form__radio-wrapper {
  flex-flow: wrap;

  .franz-form__radio {
    flex: initial;
    margin-right: 2%;
    width: 32%;

    &:nth-child(3) { margin-right: 0; }

    &:nth-child(4) {
      margin-right: 0;
      margin-top: 2%;
      width: 100%;
    }
  }
}

.settings .paymentTiers .franz-form__radio-wrapper .franz-form__radio {
  width: 49%;

  &:nth-child(2) { margin-right: 0; }

  &:nth-child(3) {
    margin-top: 2%;
    width: 100%;
  }
}
