.subscription-popup {
  height: 100%;

  &__content { height: calc(100% - 60px); }
  &__webview { height: 100%; }

  &__toolbar {
    background: $theme-gray-lightest;
    border-top: 1px solid $theme-gray-lighter;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px;
  }
}
