@import './config.scss';

.window-controls {
  margin-left: auto;

  button {
    -webkit-app-region: no-drag;
    display: inline-block;
    position: relative;
    width: 45px;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #a0a0a0;
    background-color: transparent;
    transition: background-color 0.25s ease;

    &:not(:disabled):focus {
      outline: none;
    }

    &:not(:disabled):hover {
      background-color: #888;
      color: #fff;
    }

    &:not(:disabled):hover:active {
      background-color: #666;
      transition: none;
    }

    &.window-close:not(:disabled):hover {
      background-color: #e81123;
      color: #fff;
    }

    &.window-close:not(:disabled):hover:active {
      background-color: #bf0f1d;
      transition: none;
    }
  
     svg {
      fill: currentColor;
    }
  }
}