@import './config.scss';

.theme__dark #electron-app-title-bar {
  background: $dark-theme-gray-darker;

  .toolbar-dropdown {
    &.open > .toolbar-button > button { 
      background: $dark-theme-gray-light;
      color: $dark-theme-gray-lightest;
    }

    &:not(.open) {
      .menu-item .menu-label { opacity: 1; }
      > .toolbar-button > button:hover { 
        background: $dark-theme-gray-darkest; 
      }
    }
  }

  #app-menu-bar #foldout-container .foldout {
    color: $dark-theme-gray-lightest;

    .menu-pane {
      background: $dark-theme-gray-light;
  
      .menu-item {
        .accelerator {
          color: lighten($dark-theme-gray-light, 20%);
        }
      }
  
      hr {
        border-color: $dark-theme-gray-lighter;
      }
    }
  }

  .list .ReactVirtualized__Grid {
    background: $dark-theme-gray-light;
  }
}

#electron-app-title-bar {
  background: $theme-gray-lightest;
  border-bottom: 0;
  box-shadow: 0 0 8px rgba(black, .1);

  span { line-height: normal; }

  div { height: auto; }

  .toolbar-dropdown {
    &.open { box-shadow: 0 0 8px rgba(black, 0.1); }

    &:not(.open) {
      .menu-item .menu-label { opacity: 1; }
      > .toolbar-button > button:hover { background: $theme-brand-primary; }
    }
  }

  .list-item {
    .menu-item {
      border-radius: $theme-border-radius-small;
      margin: 4px;
    }

    &.selected,
    &.selected:focus {
      background: none;

      .menu-item { background: $theme-brand-primary; }
    }
  }

  .menu-pane {
    border-bottom-left-radius: $theme-border-radius-small;
    border-bottom-right-radius: $theme-border-radius-small;
    box-shadow: 0 0 10px rgba(black, .5);
  }
}
