@import './config.scss';

$toggle-size: 14px;
$toggle-width: 40px;
$toggle-button-size: 22px;

.franz-form {
  .franz-form__toggle-wrapper {
    display: flex;
    flex-direction: row;

    .franz-form__label {
      margin-left: 20px;
    }

    .franz-form__toggle {
      width: $toggle-width;
      height: $toggle-size;
      position: relative;
      background: $theme-gray-lighter;
      border-radius: $theme-border-radius;

      .franz-form__toggle-button {
        position: absolute;
        left: 0;
        top: -($toggle-button-size - $toggle-size) / 2;
        width: $toggle-button-size;
        height: $toggle-button-size;
        background: $theme-gray-light;
        border-radius: 100%;
        transition: all 0.5s;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
      }

      &.is-active {
        .franz-form__toggle-button {
          left: $toggle-width - $toggle-button-size;
          background: $theme-brand-primary;
        }
      }

      input {
        display: none;
      }
    }
  }
}
