.scroll-container {
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.loader {
  display: block;
  height: 40px;
  position: relative;
  width: 100%;
  z-index: 9999;
}

.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pulsating {
  animation: pulse-animation 1s alternate infinite ease-in-out;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.7)
  }
  100% {
    transform: scale(1)
  }
}