name: Build/release

on: push

env:
  APPLEID: ${{ secrets.APPLEID }}
  APPLEIDPASS: ${{ secrets.APPLEIDPASS }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        platform: [mac, ubuntu, windows]
        include:
          - platform: mac
            os: macos-latest
            artifactPath: |
              out/*.dmg
              out/*.mac.zip.blockmap
              out/latest-mac.yml
            CSC_LINK: CSC_LINK_MAC
            APPLE_TEAM_ID: TAC9P63ANZ

          - platform: ubuntu
            os: ubuntu-latest
            artifactPath: |
              out/*.AppImage
              out/*.deb
              out/latest-linux.yml

          - platform: windows
            os: windows-2019
            artifactPath: |
              out/*.exe
              out/latest.yml
            CSC_LINK: CSC_LINK_WIN

    env:
      CSC_LINK: ${{ secrets[matrix.CSC_LINK] }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
          cache: "npm"

      - name: Set up Python (mac only)
        if: matrix.platform == 'mac'
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Upgrade pip and install setuptools/wheel (mac only)
        if: matrix.platform == 'mac'
        run: |
          python3 -m pip install --upgrade pip setuptools wheel

      - name: Install dependencies
        run: |
          npm i -g lerna@3.8
          npx lerna bootstrap

      - name: Build App
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}
          path: ${{ matrix.artifactPath }}
